PORT=1000

#WebhookURL:https://webhook.domain.com/deploy

#REPONAME REPO
#REPONAME_SECRET=24fdcf8b09b06a47b53b4c1a43dfa155b8f252cda2d24a8a0d2e6587e23e0b78
#REPONAME_BRANCH=/var/www/directory/deploy.sh

# Command: openssl rand -hex 32
